<form class="form" action="getPlace" method="POST">
    <div class="form-group text-center">
        <label for="newPlace">Add A New Card</label>
    </div>
    <div class="row justify-content-between">
        <input class="form-control col-10" type="text" placeholder="Find A Place" aria-label="Search" name="newPlace">
        <button class="btn btn-success" type="submit">Add</button>
    </div>
</form>