<form class="form-inline" action="getPlace" method="POST">
    <input class="form-control col" type="text" placeholder="Find A Place" aria-label="Search" name="newPlace">
    <button class="btn btn-outline-white" type="submit">Search</button>
</form>