 
 <div class="card col-12 justify-content-center inner-color">
    <form class="form" action="getPlace" method="POST">
            <div class="form-group mt-2">
                <div class="title"><i class="fas fa-satellite-dish"></i> City Scanner </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-sm-9 col-xs-12 col-md-9 col-lg-10"><input class="form-control" type="text" placeholder="Find A New City" aria-label="Search" name="newPlace"></div>
                <div class="col-sm-3 col-xs-12 col-md-3 col-lg-2"><button type="submit" class="btn col-12 btn-jupiter"><i class="fas fa-satellite"></i> Scan</button></div>
            </div>
    </form>
</div>