<div class="dropdown">
    <button type="button" <% if (isLoggedIn === false) { %> disabled <% } %> class="btn <% if (isLoggedIn === false) { %> disabled <% } else {%> btn-jupiter<% } %> dropdown-toggle" data-toggle="dropdown"><i class="fas fa-list"></i> Weather Lists</button>
    <div class="dropdown-menu">
      <% for (let i = 0; i < lists.length; i++) { %>
        <a class="dropdown-item" href="/list/<%= lists[i].name %>"><%= lists[i].name %></a>
      <% } %>
    </div>
</div>