<div id="map-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header card-jupiter-inner">
        
        <span class="modal-title align-middle title">
          <img class="rounded-circle" src="\img\jupiter.svg" alt="" width="50" height="40">
          Map Data Found
        </span>

        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   
          <div class="modal-body inner-color justify-contents-center" align="center">
            <%- include('../partials/map') %>
          </div>
 
      </form>
    </div>
  </div>
</div>