 
 <div class="card col-12 d-md-block d-lg-none mt-3 justify-content-center dark-background">
    <form class="form" action="setLocation" method="POST">
            <div class="form-group mt-2">
                <div class="title"><i class="fas fa-location-arrow"></i> My Location</div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-sm-9 col-xs-12 col-md-9 col-lg-10"><input class="form-control" type="text" placeholder="My City" aria-label="Search" name="myPlace"></div>
                <div class="col-sm-3 col-xs-12 col-md-3 col-lg-2"><button type="submit" class="btn col-12 btn-jupiter"><i class="fas fa-map-pin"></i> Set</button></div>
            </div>
    </form>
</div>

<div class="col-12 d-md-block d-lg-none mt-2"></div>


<div class="card ml-2 col-5 d-lg-block d-none justify-content-center dark-background">
    <form class="form" action="setLocation" method="POST">
            <div class="form-group mt-2">
                <div class="title"><i class="fas fa-location-arrow"></i> My Location</div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-sm-9 col-xs-12 col-md-9 col-lg-12"><input class="form-control" type="text" placeholder="My City" aria-label="Search" name="myPlace"></div>
                <div class="col-sm-3 col-xs-12 col-md-3 mt-1 col-lg-5"><button type="submit" class="btn col-12 btn-jupiter"><i class="fas fa-map-pin"></i> Set</button></div>
            </div>
    </form>
</div>