<h1>This is the home page</h1>
<form action="testGoogle" method="POST">
    <button type="submit" class="btn btn-primary">Test Google</button>
</form>
<form action="testWeather" method="POST">
    <button type="submit" class="btn btn-primary">Test Weather</button>
</form>
<form action="testPlaces" method="POST">
    <button type="submit" class="btn btn-primary">Test Places</button>
</form>