<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Jupiter</title>
        <%- include('../partials/bootstrap') %>
    </head>
    <body>
        <div>
            <h1>Hello Jupiter!</h1>
            <img src="/img/jupiter_logo.png" style="height:200px; width:200px;"alt="">
        </div>
        <div class="container">
            <%- include('../partials/registerForm') %>
        </div>
        <script src="../resources/js/script.js"></script>
    </body>
</html>